/* Add a white background color to the top navigation */
.topnav-right {
  background-color: white;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav-right a {
float: left;
color: grey;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

/* Change the color of links on hover */
.topnav-right a:hover {
color: blue;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
float: right;
}

{
  box-sizing: border-box;
}

.item {
  width: 100px;
  height: 70px;
}

.filter icon {
  width: 100px;
  height: 70px;
}

.Filters {
  display: flex;
  flex-direction: row;
border: 2px solid black;
border-radius: 50px;
}

.item {
  display: flexbox;
  max-width: 1200px;
  max-width: 100%;
  flex-wrap: wrap;
}