


/* Add a white background color to the top navigation */
.topnav-right {
  background-color: white;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav-right a {
float: left;
color: grey;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

/* Change the color of links on hover */
.topnav-right a:hover {
color: blue;
text-decoration: underline;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
float: right;
}

{
  box-sizing: border-box;
}


/* Filters section */


.Filters container{
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.Filters-Title{
  font-weight: bold;
  colour: black;
}

.Filters {
  display: flex;
  gap: 30px;
  align-self: center;
  flex-wrap: wrap;
}

.Filter {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #dfdddd;
  padding: 5px 20px 5px 30px;
  border-radius: 50px;
  height: 32px;
  cursor: pointer;
}

.Filter i{
  padding: 13px;
  border-radius: 50px;
  background-color: #deebff;
  margin-left: -40px;
  width: 18px;
  height: 18px;
  color: #0065fc;
  font-size: 18px;
}

.Filter:hover{
  transform: scale(1.1);
}

.Filter p{
  font-weight: 600;
}


/* Accommodation Section */

.Accommodations-Section {
  display: flex;

}

.Accomodations-Marseille {
  display: flex;
  flex-wrap: wrap;
  
}

.Accomodations-Marseille{
  display: flex;
  flex-direction: row;
}


.Accomodations-MostPopular {
  display: flex;
  
}

.footer{
  display: flex;
  flex-direction: row;
  background-color: #F2F2F2;
  gap: 300px;
  margin-bottom: 50px;
}

.accom-card{
  height: 80px;
  width: 150px;
  border: white;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.Ratings{
color: blue;
}

